{% extends "base.html" %}

{% block title %}Article{% endblock %}

{% block breadcrumb %}
    <nav>
        <div class="nav-wrapper content">
            <div class="col s12">
                <a href="{{ url_for('admin.admin') }}" class="breadcrumb">Administration</a>
                <a href="{{ url_for('admin.admin_articles') }}" class="breadcrumb">Articles</a>
                {% if article %}
                    <span class="breadcrumb">{{ article.title }}</span>
                {% else %}
                    <span class="breadcrumb">Nouveau</span>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block header %}
    <h1>Article</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="col s12" action="{{ url_for('admin.admin_article_update', article_id=article.id if article else 0) }}" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" type="text" class="validate" value="{{ title or (article.title if article else "") }}" required>
                    <label for="title">Titre</label>
                </div>
            </div>

            {% if article and article.image %}
            <div class="row">
                <div class="input-field col s10">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            <input type="file" name="image">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="col s2">
                    <img src="{{ url_for('static', filename=article.image) }}" alt="" class="responsive-img"/>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            <input type="file" name="image" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="input-field col s6">
                    <textarea id="content" name="content" class="validate materialize-textarea" rows="10"
                              required>{{ content or (article.content if article else "") }}</textarea>
                    <label for="content">Contenu</label>
                </div>
                <div class="input-field col s6" id="content-preview"></div>
            </div>

            <div class="row">
                <div class="col s12">
                    <label>Tags</label>
                    <div id="tags" class="chips">
                        {% for tag in tags | sort(attribute='name') %}
                            <div class="chip chip-selection {% if (tag.id in tag_ids) or (not tag_ids and article and tag in article.tags) %}enabled{% else %}disabled{% endif %}" data-tag-id="{{ tag.id }}">
                                <img src="{{ url_for('static', filename=tag.image) }}" alt="">
                                {{ tag.name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <input id="tag-ids" name="tag-ids" type="hidden">

            <input class="btn" type="submit" value="Enregistrer">

        </form>
    </div>

{% endblock %}

{% block js %}
    <script nonce="{{ g.nonce }}" src="{{ url_for('static', filename='bower_components/showdown/dist/showdown.min.js') }}"></script>
    <script nonce="{{ g.nonce }}" src="{{ url_for('static', filename='js/admin.min.js') }}"></script>
    <script nonce="{{ g.nonce }}" src="{{ url_for('static', filename='js/admin_article.min.js') }}"></script>
{% endblock %}