{% extends "base.html" %}

{% block title %}Tags{% endblock %}

{% block breadcrumb %}
    <nav>
        <div class="nav-wrapper content">
            <div class="col s12">
                <a href="{{ url_for('admin.admin') }}" class="breadcrumb">Administration</a>
                <span class="breadcrumb">Tags</span>
            </div>
        </div>
    </nav>
{% endblock %}

{% block header %}
    <h1>Tags</h1>
{% endblock %}

{% block content %}
    <div class="row">

        <div>
            <a class="waves-effect waves-light btn" href="{{ url_for("admin.admin_tag", tag_id=None) }}">
                <i class="material-icons left">add</i>Nouveau tag
            </a>
        </div>

        {% if tags %}

        <table id="tag-list">
            <thead>
                <tr>
                    <th class="hide">ID</th>
                    <th>Nom</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for tag in tags | sort(attribute='name') %}
                <tr>
                    <td class="id hide">{{ tag.id }}</td>
                    <td>{{ tag.name }}</td>
                    <td><img class="responsive-img" width="20" src="{{ url_for('static', filename=tag.image) }}"></td>
                    <td class="right-align">
                        <a href="{{ url_for('admin.admin_tag', tag_id=tag.id) }}"><i class="material-icons">mode_edit</i></a>
                        <a href="{{ url_for('admin.admin_tag_delete', tag_id=tag.id) }}" onclick="confirm_deletion(this); return false;"><i class="material-icons">delete</i></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div id="confirm-dialog" class="modal">
            <div class="modal-content">
                <h4>Confirmation</h4>
                <p>Le tag sera définitivement supprimé. Voulez-vous continuer&nbsp;?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#confirm-dialog').closeModal(); return false;">Annuler</a>
                <a href="#" class="waves-effect waves-green btn-flat" id="confirm-dialog-yes">Oui</a>
           </div>
        </div>

        {% else %}

            <p>Aucun tag</p>

        {% endif %}

    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}