{% extends "base.html" %}

{% block title %}Authentification{% endblock %}

{% block header %}
    <h1>Authentification</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="col s12" action="{{ url_for('users.login') }}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="login" name="login" type="text" class="validate" value="{{ login }}">
                    <label for="login">Login</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Mot de passe</label>
                </div>
            </div>
            <input class="btn" type="submit" value="Se connecter">
        </form>
    </div>

{% endblock %}